
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 129.586rem;
}.desktop-1-8DK {
  width: 100%;
  height: 69.8rem;
  position: relative;
  background-color: #bcdae1;
}
.desktop-1-8DK .auto-group-rpeo-ihK {
  width: 110.2rem;
  height: 3.5rem;
  position: absolute;
  left: 7.4rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 {
  box-sizing: border-box;
  padding: 0.1rem 18.5rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .qanoon-bot-SQM {
  margin-right: 13.3rem;
  font-size: 2.5249rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: -0.4166rem;
  text-transform: uppercase;
  color: #5f99c3;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .qanoon-bot-SQM .qanoon-bot-SQM-sub-0 {
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .qanoon-bot-SQM .qanoon-bot-SQM-sub-1 {
  font-size: 2.5249rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: -0.4166rem;
  text-transform: uppercase;
  color: #615fc3;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .qanoon-bot-SQM .qanoon-bot-SQM-sub-2 {
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .qanoon-bot-SQM .qanoon-bot-SQM-sub-3 {
  font-size: 2.5249rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: -0.4166rem;
  text-transform: uppercase;
  color: #615fc3;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .qanoon-bot-SQM .qanoon-bot-SQM-sub-4 {
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .home-K8h {
  margin: 0.6rem 13.1rem 0rem 0rem;
  font-size: 1.555rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.2255rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .about-us-Wys {
  margin: 0.6rem 10.9rem 0rem 0rem;
  font-size: 1.555rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.2255rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-g9rv-Y45 .contact-us-x5B {
  margin-top: 0.6rem;
  font-size: 1.555rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.2255rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-8DK .auto-group-rpeo-ihK .auto-group-b4uq-dh7 {
  width: 10.8rem;
  height: 100%;
  text-align: center;
  font-size: 1.514rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: 0.0681rem;
  text-transform: uppercase;
  color: #a1bed3;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  border-radius: 1.7811rem;
  flex-shrink: 0;
}
.desktop-1-8DK .qanoon-bot-5JD {
  width: 26.4rem;
  height: 5.8rem;
  position: absolute;
  left: 51.0606rem;
  top: 17.161rem;
  font-size: 4.5268rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: -0.7469rem;
  text-transform: uppercase;
  color: #426c8a;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-8DK .qanoon-bot-5JD .qanoon-bot-5JD-sub-0 {
}
.desktop-1-8DK .qanoon-bot-5JD .qanoon-bot-5JD-sub-1 {
  font-size: 4.5268rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: -0.7469rem;
  text-transform: uppercase;
  color: #2d353b;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-8DK .qanoon-bot-5JD .qanoon-bot-5JD-sub-2 {
}
.desktop-1-8DK .qanoon-bot-5JD .qanoon-bot-5JD-sub-3 {
  font-size: 4.5268rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: -0.7469rem;
  text-transform: uppercase;
  color: #2d353b;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-8DK .qanoon-bot-5JD .qanoon-bot-5JD-sub-4 {
}
.desktop-1-8DK .coming-soon-o1F {
  width: 21.3rem;
  height: 3.7rem;
  position: absolute;
  left: 53.5325rem;
  top: 29.9rem;
  text-align: center;
  font-size: 2.8711rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.0718rem;
  text-transform: uppercase;
  color: #736f6f;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-8DK .we-are-working-on-ai-driven-chat-bot-qanoon-bot-a-legal-advisor-we-will-be-back-soon-to-notify-you-GvR {
  width: 39.1rem;
  height: 4rem;
  position: absolute;
  left: 44.75rem;
  top: 35.2rem;
  text-align: center;
  font-size: 1.0374rem;
  font-weight: 300;
  line-height: 1.26;
  text-transform: uppercase;
  color: #736f6f;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-8DK .auto-group-vc4b-inR {
  width: 11.1451rem;
  height: 4.8377rem;
  position: absolute;
  left: 58.6rem;
  top: 43rem;
  text-align: center;
  font-size: 1.2577rem;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: 0.0566rem;
  text-transform: uppercase;
  color: #a1bed3;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d353b;
  border-radius: 2.9394rem;
}
.desktop-1-8DK .line-1-nGV {
  width: 128.4855rem;
  height: 0;
  position: absolute;
  left: 1.1rem;
  top: 5.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-8DK .line-2-WCV {
  width: 128.4855rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 5.8rem;
  object-fit: contain;
  vertical-align: top;
}
