.desktop-2-child {
    position: absolute;
    top: calc(50% - 409px);
    left: calc(50% - 720px);
    width: 1440px;
    height: 3.01px;
  }
  .home {
    position: absolute;
    top: 49px;
    left: 341px;
    font-weight: 800;
    display: inline-block;
    width: 98px;
  }
  .desktop-2-inner,
  .desktop-2-item,
  .line-icon {
    position: absolute;
    top: calc(50% + 370px);
    left: calc(50% - 720px);
    width: 1440px;
    height: 3.01px;
  }
  .desktop-2-inner,
  .line-icon {
    width: 1437px;
    height: 5px;
  }
  .line-icon {
    top: calc(50% - 409px);
    width: 1440px;
  }
  .about-us,
  .help {
    position: absolute;
    top: 49px;
    left: 532px;
    font-weight: 800;
    display: inline-block;
    width: 131px;
  }
  .help {
    top: 51px;
    left: 756px;
    width: 67px;
  }
  .rectangle-div {
    top: 30px;
    left: 1203px;
    border-radius: 27px;
    background-color: var(--color-royalblue);
    width: 141px;
    height: 50px;
  }
  .login,
  .qb-icon,
  .rectangle-div {
    position: absolute;
  }
  .login {
    top: 42px;
    left: 1237px;
    font-weight: 800;
    color: var(--color-white);
    display: inline-block;
    width: 131px;
  }
  .qb-icon {
    top: 9px;
    left: 48px;
    width: 61px;
    height: 63.74px;
  }
  .news,
  .qanoon-bot {
    position: absolute;
    display: inline-block;
  }
  .news {
    top: 49px;
    left: 916px;
    font-weight: 800;
    width: 102px;
  }
  .qanoon-bot {
    top: calc(50% - 287px);
    left: 466px;
    font-size: 58.57px;
    font-family: var(--font-ultra);
    width: 509px;
    height: 100.27px;
    text-shadow: 0 1.4744633436203003px 1.47px rgba(0, 0, 0, 0.25);
  }
  .desktop-2-child1 {
    position: absolute;
    top: -8px;
    left: 321px;
    background-color: var(--color-royalblue);
    width: 138px;
    height: 17px;
  }
  .coming-soon,
  .we-are-working,
  .we-will-be {
    position: absolute;
    font-family: var(--font-urbanist);
    color: var(--color-dimgray);
    display: inline-block;
    text-shadow: 0 1.4744633436203003px 1.47px rgba(0, 0, 0, 0.25);
  }
  .coming-soon {
    top: calc(50% - 56px);
    left: 509px;
    font-size: 58.57px;
    letter-spacing: 0.03em;
    font-weight: 500;
    width: 581px;
    height: 100px;
  }
  .we-are-working,
  .we-will-be {
    top: calc(50% + 17px);
    left: 327px;
    font-weight: 300;
    width: 858px;
    height: 33px;
  }
  .we-will-be {
    top: calc(50% + 50px);
    left: 525px;
    width: 442px;
  }
  .desktop-2-child2 {
    position: absolute;
    top: 678px;
    left: 626px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.69);
    width: 241px;
    height: 58px;
  }
  .notify-me {
    position: absolute;
    top: calc(50% + 182px);
    left: 682px;
    font-size: 19.94px;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-family: var(--font-urbanist);
    color: var(--color-white);
    display: inline-block;
    width: 128px;
    height: 26.21px;
    text-shadow: 0 0.5019449591636658px 0.5px rgba(0, 0, 0, 0.25);
  }
  .desktop-2 {
    position: relative;
    background-color: #e3dfdf;
    width: 105%;
     /* Added max-width to ensure it doesn't exceed the viewport width */
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-royalblue);
    font-family: var(--font-inter);
  }
  